.row1 {
    background-color: #048f8f;
    color: #000000;
}
.row1:hover {
    background-color: #f5f504;
    color: #0007c7;
}

.row2 {
    background-color: #f5f504;
    color: #0007c7;
}

.row2:hover {
    background-color: #048f8f;
    color: #000000;
}

.transform.circle-container {
  position: relative;
  width: 200px;
  height: 200px;
  background: #999;
  border-radius: 50%;
  margin: 40px auto;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  background: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}

.orbit .dot {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  background: white;
  border-radius: 50%;
}

.orbit .dot:nth-child(1) { transform: rotate(0deg) translate(100px) rotate(0deg); }
.orbit .dot:nth-child(2) { transform: rotate(51deg) translate(100px) rotate(-51deg); }
.orbit .dot:nth-child(3) { transform: rotate(102deg) translate(100px) rotate(-102deg); }
.orbit .dot:nth-child(4) { transform: rotate(153deg) translate(100px) rotate(-153deg); }
.orbit .dot:nth-child(5) { transform: rotate(204deg) translate(100px) rotate(-204deg); }
.orbit .dot:nth-child(6) { transform: rotate(255deg) translate(100px) rotate(-255deg); }
.orbit .dot:nth-child(7) { transform: rotate(306deg) translate(100px) rotate(-306deg); }
